<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">{{title}}</h5>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCategory">
                Новая категория
            </button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Текст</th>
                    <th scope="col">Ссылка</th>
                    <th scope="col">Статус</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each slider}}
                <tr>
                    <th>{{@index}}</th>
                    <td><img src='/{{img}}' width="50"/> {{title}}</td>
                    <td>{{order}}</td>
                    <td>{{text}}</td>
                    <td>{{link}}</td>
                    <td><a href="/slider/status/{{_id}}">{{{status}}}</a></td>
                    <td class="ml-auto text-right">
                        <button class="btn btn-warning" onclick="get('{{_id}}')" data-bs-toggle="modal" data-bs-target="#upCategory">
                            <i class="fa fa-pen"></i>
                        </button>
                        <a href="/slider/delete/{{_id}}" class="btn btn-danger ml-2" onclick="return confirm('Вы уверены?')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>
    <div class="modal fade" id="newCategory" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новый слайдер</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/slider?_csrf={{csrf}}" method="post" class="needs-validation" novalidate name="newslider" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input type="text" name="title" class="form-control" id="title" required placeholder="Название">
                            <label for="title">Название</label>
                            <div class="invalid-feedback">
                            Заполните поля
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="text" class="form-control" id="text" required placeholder="Текст">
                            <label for="text">Текст</label>
                            <div class="invalid-feedback">
                            Заполните поля
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="link" class="form-control" id="link" required placeholder="Ссылка для кнопки">
                            <label for="link">Ссылка для кнопки</label>
                            <div class="invalid-feedback">
                            Заполните поля
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="order" class="form-control" id="order"  placeholder="Название">
                            <label for="order">Номер порядки</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="status" value="1" type="checkbox" id="status" checked="">
                            <label class="form-check-label" for="status">Активный</label>
                        </div>
                        <div class="mb-3">
                            <label for="img" class="form-label">Фотография слайдера</label>
                            <input class="form-control" type="file" id="img" name="img">
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upCategory" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/slider/save?_csrf={{csrf}}" method="post" class="needs-validation" novalidate enctype="multipart/form-data" name="slider">
                        <input type="hidden" name="_id" value="">
                        <div class="form-floating mb-3">
                            <input type="text" name="title" class="form-control" id="title" required placeholder="Название">
                            <label for="title">Название</label>
                            <div class="invalid-feedback">
                            Заполните поля
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="text" class="form-control" id="text" required placeholder="Текст">
                            <label for="text">Текст</label>
                            <div class="invalid-feedback">
                            Заполните поля
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="link" class="form-control" id="link" required placeholder="Ссылка для кнопки">
                            <label for="link">Ссылка для кнопки</label>
                            <div class="invalid-feedback">
                            Заполните поля
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="order" class="form-control" id="order"  placeholder="Название">
                            <label for="order">Номер порядки</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="status" value="1" type="checkbox" id="status" checked="">
                            <label class="form-check-label" for="status">Активный</label>
                        </div>
                        <div class="mb-3">
                            <label for="img" class="form-label">Фотография слайдера</label>
                            <input class="form-control" type="file" id="img" name="img">
                        </div>
                        <div class="mb-3">
                            <img src="" alt="" id="showimg" width="60" style="display: none;">
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>

<script>
    
    let newslider = document.forms.newslider

    newslider.addEventListener('submit',(e) =>{
        e.preventDefault()
        let formData = new FormData(newslider)
        console.log(newslider)
        fetch('/slider',{
            method:'post',
            body:formData
        }).then(res=>res.json())
        .then(data=>{
            console.log(data)
            location.reload()
        })
    })
    

    
    let form = document.forms.slider
    let img = document.getElementById('showimg')
    const get = (id) => {
        fetch(`/api/slider/get/${id}`)
        .then(res => res.json())
        .then(slider =>{
            form._id.value = slider._id
            form.title.value = slider.title
            form.text.value = slider.text
            form.link.value = slider.link
            form.status.checked = slider.status == 0 ? false : true
            form.order.value = slider.order
            console.log(slider.img)
            img.setAttribute('src',`/${slider.img}`)
            img.style.display = 'block'
            
        })

    }

</script>