<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">{{title}}</h5>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Ф.И.О</th>
                    <th scope="col">Email</th>
                    <th scope="col">Номер телефон</th>
                    <th scope="col">Статус</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th>{{@index}}</th>
                    <td><img src='/{{img}}' width="50"/> {{name}}</td>
                    <td>{{email}}</td>
                    <td>{{phone}}</td>
                    <td><a href="/user/status/{{_id}}">{{{status}}}</a></td>
                    <td class="ml-auto text-right">
                        <button class="btn btn-warning" onclick="get('{{_id}}')" data-bs-toggle="modal" data-bs-target="#upCategory">
                            <i class="fa fa-pen"></i>
                        </button>
                        <a href="/user/delete/{{_id}}" class="btn btn-danger ml-2" onclick="return confirm('Вы уверены?')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>